/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~font-awesome/css/font-awesome.css";

html {
    background-color: rgb(242, 242, 242);
}

body {
    color: #2e2e2e;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    background: #ffffff;
    margin: 0;
    padding: 0;
}