<div id="outer-wrapper" class="index home">
  <div id="header-wrapper">
    <div class="tm-menu">
      <div class="row menu-wrap">
        <div class="menu section mycustom-menu-margin" id="menu" name="Main Menu">
          <div class="widget LinkList" data-version="1" id="LinkList210" style="display:block!important;">
            <ul id="nav1">
              <li><a href="http://www.purple-tunes.com/">Home</a></li>
              <li><a href="http://playlist.purple-tunes.com">Promote</a></li>
            </ul><select class="selectnav" id="selectnav1"><option value="">Menu</option><option value="http://www.purple-tunes.com/">Home</option><option value="http://playlist.purple-tunes.com/" selected="">Playlist</option></select></div>
        </div>
        <div class="top-bar-social blue section" id="header social widget" name="Top Social Widget">
          <div class="widget LinkList" data-version="1" id="LinkList230">
            <div class="widget-content">
              <ul id="social">
                <li><a class="facebook" href="https://facebook.com/purpletunes/" title="facebook"></a></li>
                <li><a class="twitter" href="https://twitter.com/purpletunes_" title="twitter"></a></li>
                <li><a class="soundcloud" href="https://soundcloud.com/purple_tunes" title="soundcloud"></a></li>
                <li><a class="youtube" href="https://www.youtube.com/afrotraptunes" title="youtube"></a></li>
                <li><a class="instagram" href="https://instagram.com/purpletunes/" title="instagram"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="clear: both;"></div>
    <div class="header section" id="header" name="Logo &amp; Title">
      <div class="widget Header" data-version="1" id="Header1">
        <div id="header-inner">
          <div class="titlewrapper">
            <h1 class="title">
              Purple Tunes
            </h1>
          </div>
          <div class="descriptionwrapper">
            <p class="description"><span>Afrobeats and Grime! Purple Tunes presents the latest African Music!</span></p>
          </div>
        </div>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>

  <div class="container-fluid">
    <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
    <ngb-alert *ngIf="errorMessage" type="danger" (close)="closeAlert()">{{ errorMessage }}</ngb-alert>

    <!-- <div class="row" style="    width: 100%;">
        <div class="col-md-8 mx-auto" >
          <input *ngIf="config.filtering" placeholder="Filter all columns" [ngTableFiltering]="config.filtering" class="form-control"
            (tableChanged)="onChangeTable(config)" />
        </div>
      </div>
      <br> -->
    <div class="row" style="width: 100%; margin-bottom: 10px; padding-left: 100px;">
      <div class="col-md-2"></div>
      <form class="form-inline">
        <label class="sr-only" for="inlineFormInput">Email</label>
        <div class="form-group input-group mb-2 mr-sm-2 mb-sm-0">
          <input type="text" class="form-control" id="inlineFormInput" [(ngModel)]="submission.email" placeholder="Your Email" name="email"
            id="email">
        </div>

        <label class="sr-only" for="inlineFormInputGroup">Name</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <input type="text" class="form-control" id="inlineFormInputGroup" [(ngModel)]="submission.name" placeholder="Name" name="name"
            id="name">
        </div>

        <label class="sr-only" for="inlineFormInputGroup">Url</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <input type="text" class="form-control" id="inlineFormInputGroup" [(ngModel)]="submission.url" placeholder="Video/Audio Url"
            name="url" id="url">
        </div>
        <button type="submit" class="btn btn-primary" (click)="submitButton();">Submit</button>
      </form>
    </div>
    <div class="row" style="width: 100%;margin: 0;text-align: center; ">
      <span class="col-md-12 mx-auto">Select All Playlists Below </span>
    </div>

    <div class="row" style="margin-top:10px; width: 100%;">
      <div class="col-md-7 mx-auto">
        <table class="table table-hover table-striped table-sortable">
          <thead>
            <tr>
              <th>
              </th>
              <th>
                Name
              </th>
              <th>
                Platform
              </th>
              <th>
                Number of Followers
              </th>
              <th>
                Cost
              </th>
              <th>
                Acceptance Rate
              </th>
              <th>
                Rating
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data">
              <td><input type="checkbox" [checked]="item.selected" (change)="item.selected = !item.selected" /></td>
              <td>{{item.name}}</td>
              <td>{{item.platform}}</td>
              <td>{{item.numOfFollowers}}</td>
              <td>${{item.cost}}</td>
              <td>{{item.acceptanceRate}}%</td>
              <td>
                <ngb-rating [(rate)]="item.rating"></ngb-rating>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table> -->
        <!-- <ng-table  id="resultDataTable" [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
        </ng-table> -->
      </div>
    </div>
    <!-- <pagination *ngIf="config.paging"
            class="pagination-sm"
            [(ngModel)]="page"
            [totalItems]="length"
            [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="onChangeTable(config, $event)"
            (numPages)="numPages = $event">
</pagination> -->
    <!-- <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre> -->
  </div>

  <div id="jugas_footer" style="    padding-bottom: 46px;">
    <div class="copy-container row">
      <div class="foot-social"  style="margin: 0 auto;overflow: hidden;">
        <div class="foot-bar-social blue section" id="Footer social widget" name="Footer Social Widget">
          <div class="widget LinkList" data-version="1" id="LinkList250">
            <div class="widget-content">
              <ul id="social">
                <li><a class="facebook" href="https://facebook.com/purpletunes/" title="facebook"></a></li>
                <li><a class="twitter" href="https://twitter.com/purpletunes_" title="twitter"></a></li>
                <li><a class="soundcloud" href="https://soundcloud.com/purple_tunes" title="soundcloud"></a></li>
                <li><a class="youtube" href="https://www.youtube.com/afrotraptunes" title="youtube"></a></li>
                <li><a class="instagram" href="https://instagram.com/purpletunes/" title="instagram"></a></li>
                <li><a class="gplus" href="https://plus.google.com/u/4/102379974944875212494" title="gplus"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
      <div class="jugas_footer_copyright" style="position: absolute; z-index: -1001;">
        By <a href="http://www.soratemplates.com/" id="mycontent" rel="dofollow" style="display: inline-block!important; font-size: inherit!important; color: #fff!important; visibility: visible!important; opacity: 1!important;"
          title="Free Blogger Templates">Sora Templates</a> | Distributed By <a href="https://gooyaabitemplates.com/" rel="dofollow"
          target="_blank">Purple Tunes</a>
      </div>
    </div>
  </div>
</div>